* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #1f1f1f;
    color: whitesmoke;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    min-height: 100vh;
    flex-flow: row wrap;
    flex-direction: column;
    text-align: center;
}

.nes-progress {
    width: 150px;
}

.nes-octocat {
    padding: 30px;
    margin: 130px;
}

h3 {
    font-size: 22px;
}

/* 
h1, h2, ul {
    padding: 20px;
    margin: 20px;
    
}

li {
    margin: 20px;
} */