* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #1f1f1f;
    background-image: url("./images/grassy_mountains.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: whitesmoke;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    min-height: 100vh;
    min-width: 100vw;
    flex-flow: row wrap;
    flex-direction: column;
    text-align: center;
}

/* container {
    min-width: 90vw;
} */
.nes-progress {
    width: 250px;
    margin: 0 20px;
}

.nes-octocat {
    padding: 30px;
    margin: 130px;
}

#button__group {
    position: absolute;
    bottom: 5%;
    left: 0;
    right: 0;
}

.nes-btn {
    width: 250px;
    margin: 20px;
}

/* .nes-btn .is-warning {
    color: white;
} */

h3 {
    font-size: 22px;
}

/* 
h1, h2, ul {
    padding: 20px;
    margin: 20px;
    
}

li {
    margin: 20px;
} */